{:deps {org.clojure/clojure                   {:mvn/version "1.10.0"}
        compojure/compojure                   {:mvn/version "1.1.1" }
        ring/ring                             {:mvn/version "1.9.4"}
        ring/ring-json                        {:mvn/version "0.5.1"}
        ring-json-response/ring-json-response {:mvn/version "0.2.0"}}
 :paths ["src" "test"]
 :aliases {:serve  {:exec-fn api.core/run-server}}}
